<a href="https://colab.research.google.com/github/Kollin123/dataframe-exercise/blob/main/exercises/Technical%20-%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numbers 1-3

# Number 1

In [2]:
#-------------------------------------------------1. Creating a DataFrame------------------------------------------------------

# Step 1: Create DataFrame

import pandas as pd

# Sample sales dataset (20 rows)
data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     20      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     25   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     20     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080

In [3]:
# Step 2: Show first 5 rows
print(df.head(5))

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     20      Bob  South    100
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850

In [4]:
# Step 3: Print DataFrame shape
print("Shape:", df.shape)

Shape: (20, 8)

In [5]:
# Step 4: Show column names
print("Columns:", df.columns)

Columns: Index(['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer',
       'Region', 'Total'],
      dtype='object')

In [6]:
#•	Print the number of rows and columns:

print(f"Rows: {df.shape[0]}")
print(f"Columns: {df.shape[1]}")

print(df)

Rows: 20
Columns: 8
    OrderID     Product     Category  Quantity  Price Customer Region  Total
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     20      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     25   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     20     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080

In [7]:
#•	Show the column names.
print(df.columns.tolist())

['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer', 'Region', 'Total']

# Number 2

In [8]:
# Step 1: Add Discount column (10% if Quantity >= 5 else 0)
df['Discount'] = df['Quantity'].apply(lambda x: 0.10 if x >= 5 else 0)
print(df)


#df = df.drop('Discount', axis=1)

    OrderID     Product     Category  Quantity  Price Customer Region  Total  \
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     20      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     25   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     20     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080

    Discount
0        0.0
1        0.1
2        0.0
3        0.0
4        0.0
5        0.1
6        0.1
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.1
14       0.1
15       0.0
16       0.0
17       0.0
18       0.0
19       0.1

In [9]:
# Step 2: Add FinalTotal column (Total - discount)

df['FinalTotal'] = df['Total'] - (df['Total'] * df['Discount'])
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total  \
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     20      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     25   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     20     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080

    Discount  FinalTotal
0        0.0      1600.0
1        0.1        90.0
2        0.0       150.0
3        0.0       800.0
4        0.0       850.0
5        0.1       216.0
6        0.1       225.0
7        0.0       300.0
8        0.0       300.0
9        0.0      2700.0
10       0.0       240.0
11       0.0       220.0
12       0.0       500.0
13       0.1       126.0
14       0.1      3375.0
15       0.0       105.0
16       0.0       560.0
17       0.0       880.0
18       0.0       110.0
19       0.1       972.0

In [10]:
# Print only the OrderID, Product, Total, Discount, and FinalTotal columns.
print(df[['OrderID', 'Product', 'Total', 'Discount', 'FinalTotal']])

    OrderID     Product  Total  Discount  FinalTotal
0      1001      Laptop   1600       0.0      1600.0
1      1002       Mouse    100       0.1        90.0
2      1003    Keyboard    150       0.0       150.0
3      1004     Monitor    800       0.0       800.0
4      1005      Laptop    850       0.0       850.0
5      1006  Headphones    240       0.1       216.0
6      1007       Mouse    250       0.1       225.0
7      1008       Chair    300       0.0       300.0
8      1009        Desk    300       0.0       300.0
9      1010      Laptop   2700       0.0      2700.0
10     1011     Printer    240       0.0       240.0
11     1012    Keyboard    220       0.0       220.0
12     1013     Monitor    500       0.0       500.0
13     1014       Mouse    140       0.1       126.0
14     1015      Laptop   3750       0.1      3375.0
15     1016  Headphones    105       0.0       105.0
16     1017        Desk    560       0.0       560.0
17     1018     Monitor    880       0.0       880.0
18     1019     Printer    110       0.0       110.0
19     1020       Chair   1080       0.1       972.0

# Number 3

In [11]:
# Step 1: Create new record

new_row = {
    "OrderID": 1021,
    "Product": "Tablet",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 450,
    "Customer": "Victor",
    "Region": "East"
}

print(new_row)

{'OrderID': 1021, 'Product': 'Tablet', 'Category': 'Electronics', 'Quantity': 2, 'Price': 450, 'Customer': 'Victor', 'Region': 'East'}

In [12]:
# Step 2: Append to DataFrame
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region   Total  \
0      1001      Laptop  Electronics         2    800    Alice  North  1600.0
1      1002       Mouse  Accessories         5     20      Bob  South   100.0
2      1003    Keyboard  Accessories         3     50  Charlie   East   150.0
3      1004     Monitor  Electronics         4    200    Diana   West   800.0
4      1005      Laptop  Electronics         1    850    Ethan  North   850.0
5      1006  Headphones  Accessories         6     40    Fiona  South   240.0
6      1007       Mouse  Accessories        10     25   George   East   250.0
7      1008       Chair    Furniture         2    150   Hannah   West   300.0
8      1009        Desk    Furniture         1    300      Ian  North   300.0
9      1010      Laptop  Electronics         3    900     Jane  South  2700.0
10     1011     Printer  Electronics         2    120     Kyle   East   240.0
11     1012    Keyboard  Accessories         4     55    Laura   West   220.0
12     1013     Monitor  Electronics         2    250     Mike  North   500.0
13     1014       Mouse  Accessories         7     20     Nina  South   140.0
14     1015      Laptop  Electronics         5    750    Oscar   East  3750.0
15     1016  Headphones  Accessories         3     35     Paul   West   105.0
16     1017        Desk    Furniture         2    280    Queen  North   560.0
17     1018     Monitor  Electronics         4    220   Robert  South   880.0
18     1019     Printer  Electronics         1    110    Sarah   East   110.0
19     1020       Chair    Furniture         6    180      Tom   West  1080.0
20     1021      Tablet  Electronics         2    450   Victor   East     NaN

    Discount  FinalTotal
0        0.0      1600.0
1        0.1        90.0
2        0.0       150.0
3        0.0       800.0
4        0.0       850.0
5        0.1       216.0
6        0.1       225.0
7        0.0       300.0
8        0.0       300.0
9        0.0      2700.0
10       0.0       240.0
11       0.0       220.0
12       0.0       500.0
13       0.1       126.0
14       0.1      3375.0
15       0.0       105.0
16       0.0       560.0
17       0.0       880.0
18       0.0       110.0
19       0.1       972.0
20       NaN         NaN

In [13]:
# Step 3: Recalculate Total
df["Total"] = df["Quantity"] * df["Price"]
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total  \
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     20      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     25   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     20     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080
20     1021      Tablet  Electronics         2    450   Victor   East    900

    Discount  FinalTotal
0        0.0      1600.0
1        0.1        90.0
2        0.0       150.0
3        0.0       800.0
4        0.0       850.0
5        0.1       216.0
6        0.1       225.0
7        0.0       300.0
8        0.0       300.0
9        0.0      2700.0
10       0.0       240.0
11       0.0       220.0
12       0.0       500.0
13       0.1       126.0
14       0.1      3375.0
15       0.0       105.0
16       0.0       560.0
17       0.0       880.0
18       0.0       110.0
19       0.1       972.0
20       NaN         NaN

In [14]:
# Step 4: Show last 3 rows
print(df.tail(3))

    OrderID  Product     Category  Quantity  Price Customer Region  Total  \
18     1019  Printer  Electronics         1    110    Sarah   East    110
19     1020    Chair    Furniture         6    180      Tom   West   1080
20     1021   Tablet  Electronics         2    450   Victor   East    900

    Discount  FinalTotal
18       0.0       110.0
19       0.1       972.0
20       NaN         NaN

# Updating my GitHub Numbers 1-3

In [ ]:
# Save my current notebook file into the repo folder
!cp "/content/Technical - 2.ipynb" "/content/dataframe-exercise/Technical - 2.ipynb"

cp: cannot stat '/content/Technical - 2.ipynb': No such file or directory

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Numbers 4-7**

# Number 4

In [15]:
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total  \
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     20      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     25   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     20     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080
20     1021      Tablet  Electronics         2    450   Victor   East    900

    Discount  FinalTotal
0        0.0      1600.0
1        0.1        90.0
2        0.0       150.0
3        0.0       800.0
4        0.0       850.0
5        0.1       216.0
6        0.1       225.0
7        0.0       300.0
8        0.0       300.0
9        0.0      2700.0
10       0.0       240.0
11       0.0       220.0
12       0.0       500.0
13       0.1       126.0
14       0.1      3375.0
15       0.0       105.0
16       0.0       560.0
17       0.0       880.0
18       0.0       110.0
19       0.1       972.0
20       NaN         NaN

In [16]:
# Step 1: Update price of Mouse products to 30
df.loc[df["Product"] == "Mouse", "Price"] = 30
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total  \
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     30      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     30   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     30     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080
20     1021      Tablet  Electronics         2    450   Victor   East    900

    Discount  FinalTotal
0        0.0      1600.0
1        0.1        90.0
2        0.0       150.0
3        0.0       800.0
4        0.0       850.0
5        0.1       216.0
6        0.1       225.0
7        0.0       300.0
8        0.0       300.0
9        0.0      2700.0
10       0.0       240.0
11       0.0       220.0
12       0.0       500.0
13       0.1       126.0
14       0.1      3375.0
15       0.0       105.0
16       0.0       560.0
17       0.0       880.0
18       0.0       110.0
19       0.1       972.0
20       NaN         NaN

In [17]:
# Step 2: Recalculate Total for affected rows
df["Total"] = df["Quantity"] * df["Price"]
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total  \
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     30      Bob  South    150
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     30   George   East    300
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     30     Nina  South    210
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080
20     1021      Tablet  Electronics         2    450   Victor   East    900

    Discount  FinalTotal
0        0.0      1600.0
1        0.1        90.0
2        0.0       150.0
3        0.0       800.0
4        0.0       850.0
5        0.1       216.0
6        0.1       225.0
7        0.0       300.0
8        0.0       300.0
9        0.0      2700.0
10       0.0       240.0
11       0.0       220.0
12       0.0       500.0
13       0.1       126.0
14       0.1      3375.0
15       0.0       105.0
16       0.0       560.0
17       0.0       880.0
18       0.0       110.0
19       0.1       972.0
20       NaN         NaN

In [18]:
# Step 3: Show only Mouse rows
print(df[df["Product"] == "Mouse"])

    OrderID Product     Category  Quantity  Price Customer Region  Total  \
1      1002   Mouse  Accessories         5     30      Bob  South    150
6      1007   Mouse  Accessories        10     30   George   East    300
13     1014   Mouse  Accessories         7     30     Nina  South    210

    Discount  FinalTotal
1        0.1        90.0
6        0.1       225.0
13       0.1       126.0

#Number 5

In [19]:
# Step 1: Drop Discount column
df = df.drop(columns=['Discount'])
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total  \
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     30      Bob  South    150
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     30   George   East    300
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     30     Nina  South    210
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080
20     1021      Tablet  Electronics         2    450   Victor   East    900

    FinalTotal
0       1600.0
1         90.0
2        150.0
3        800.0
4        850.0
5        216.0
6        225.0
7        300.0
8        300.0
9       2700.0
10       240.0
11       220.0
12       500.0
13       126.0
14      3375.0
15       105.0
16       560.0
17       880.0
18       110.0
19       972.0
20         NaN

In [20]:
# Step 2: Drop FinalTotal column
df = df.drop(columns=['FinalTotal'])
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     30      Bob  South    150
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     30   George   East    300
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     30     Nina  South    210
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080
20     1021      Tablet  Electronics         2    450   Victor   East    900

In [23]:
# Step 3: Show updated DataFrame
print(df.head(21))

    OrderID     Product     Category  Quantity  Price Customer Region  Total
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     30      Bob  South    150
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     30   George   East    300
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     30     Nina  South    210
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080
20     1021      Tablet  Electronics         2    450   Victor   East    900

#Number 6

In [24]:
# Step 1: Drop row with OrderID = 1010
df = df.drop(df[df["OrderID"] == 1010].index, axis=0)
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     30      Bob  South    150
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     30   George   East    300
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     30     Nina  South    210
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080
20     1021      Tablet  Electronics         2    450   Victor   East    900

In [25]:
# Step 2: Drop the first row by index
df = df.drop(index=0)
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
1      1002       Mouse  Accessories         5     30      Bob  South    150
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     30   George   East    300
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     30     Nina  South    210
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080
20     1021      Tablet  Electronics         2    450   Victor   East    900

In [26]:
# Step 3: Print new shape
print("New shape:", df.shape)

New shape: (19, 8)

#Number 7

In [27]:
# Step 1: Electronics with Quantity >= 3
result1 = df[(df["Category"] == "Electronics") & (df["Quantity"] >= 3)]
print(result1)

    OrderID  Product     Category  Quantity  Price Customer Region  Total
3      1004  Monitor  Electronics         4    200    Diana   West    800
14     1015   Laptop  Electronics         5    750    Oscar   East   3750
17     1018  Monitor  Electronics         4    220   Robert  South    880

In [28]:
# Step 2: Products with Price > 500
result2 = df[df["Price"] > 500]
print(result2)

    OrderID Product     Category  Quantity  Price Customer Region  Total
4      1005  Laptop  Electronics         1    850    Ethan  North    850
14     1015  Laptop  Electronics         5    750    Oscar   East   3750

In [29]:
# Step 3: Count orders from North region
count_north = df[df["Region"] == "North"].shape[0]
print("North orders:", count_north)

North orders: 4

# **Numbers 8-10**

# Number 8

In [30]:
# Step 1: Sales in West region
west_sales = df[df["Region"] == "West"]
print(west_sales)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
3      1004     Monitor  Electronics         4    200    Diana   West    800
7      1008       Chair    Furniture         2    150   Hannah   West    300
11     1012    Keyboard  Accessories         4     55    Laura   West    220
15     1016  Headphones  Accessories         3     35     Paul   West    105
19     1020       Chair    Furniture         6    180      Tom   West   1080

In [31]:
# Step 2: Sales by Alice
alice_sales = df[df["Customer"] == "Alice"]
print(alice_sales)

Empty DataFrame
Columns: [OrderID, Product, Category, Quantity, Price, Customer, Region, Total]
Index: []

In [32]:
# Step 3: Sales of Laptop or Printer
subset_sales = df[df["Product"].isin(["Laptop", "Printer"])]
print(subset_sales)

    OrderID  Product     Category  Quantity  Price Customer Region  Total
4      1005   Laptop  Electronics         1    850    Ethan  North    850
10     1011  Printer  Electronics         2    120     Kyle   East    240
14     1015   Laptop  Electronics         5    750    Oscar   East   3750
18     1019  Printer  Electronics         1    110    Sarah   East    110

#Number 9

In [33]:
# Step 1: Increase Price of Furniture by 10%
df.loc[df["Category"] == "Furniture", "Price"] *= 1.10
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
1      1002       Mouse  Accessories         5   30.0      Bob  South    150
2      1003    Keyboard  Accessories         3   50.0  Charlie   East    150
3      1004     Monitor  Electronics         4  200.0    Diana   West    800
4      1005      Laptop  Electronics         1  850.0    Ethan  North    850
5      1006  Headphones  Accessories         6   40.0    Fiona  South    240
6      1007       Mouse  Accessories        10   30.0   George   East    300
7      1008       Chair    Furniture         2  165.0   Hannah   West    300
8      1009        Desk    Furniture         1  330.0      Ian  North    300
10     1011     Printer  Electronics         2  120.0     Kyle   East    240
11     1012    Keyboard  Accessories         4   55.0    Laura   West    220
12     1013     Monitor  Electronics         2  250.0     Mike  North    500
13     1014       Mouse  Accessories         7   30.0     Nina  South    210
14     1015      Laptop  Electronics         5  750.0    Oscar   East   3750
15     1016  Headphones  Accessories         3   35.0     Paul   West    105
16     1017        Desk    Furniture         2  308.0    Queen  North    560
17     1018     Monitor  Electronics         4  220.0   Robert  South    880
18     1019     Printer  Electronics         1  110.0    Sarah   East    110
19     1020       Chair    Furniture         6  198.0      Tom   West   1080
20     1021      Tablet  Electronics         2  450.0   Victor   East    900

/tmp/ipython-input-4086544041.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[165. 330. 308. 198.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df["Category"] == "Furniture", "Price"] *= 1.10

In [34]:
# Step 2: Recalculate Total
df["Total"] = df["Quantity"] * df["Price"]
print(df)

    OrderID     Product     Category  Quantity  Price Customer Region   Total
1      1002       Mouse  Accessories         5   30.0      Bob  South   150.0
2      1003    Keyboard  Accessories         3   50.0  Charlie   East   150.0
3      1004     Monitor  Electronics         4  200.0    Diana   West   800.0
4      1005      Laptop  Electronics         1  850.0    Ethan  North   850.0
5      1006  Headphones  Accessories         6   40.0    Fiona  South   240.0
6      1007       Mouse  Accessories        10   30.0   George   East   300.0
7      1008       Chair    Furniture         2  165.0   Hannah   West   330.0
8      1009        Desk    Furniture         1  330.0      Ian  North   330.0
10     1011     Printer  Electronics         2  120.0     Kyle   East   240.0
11     1012    Keyboard  Accessories         4   55.0    Laura   West   220.0
12     1013     Monitor  Electronics         2  250.0     Mike  North   500.0
13     1014       Mouse  Accessories         7   30.0     Nina  South   210.0
14     1015      Laptop  Electronics         5  750.0    Oscar   East  3750.0
15     1016  Headphones  Accessories         3   35.0     Paul   West   105.0
16     1017        Desk    Furniture         2  308.0    Queen  North   616.0
17     1018     Monitor  Electronics         4  220.0   Robert  South   880.0
18     1019     Printer  Electronics         1  110.0    Sarah   East   110.0
19     1020       Chair    Furniture         6  198.0      Tom   West  1188.0
20     1021      Tablet  Electronics         2  450.0   Victor   East   900.0

In [35]:
# Step 3: Show only Furniture rows
print(df[df["Category"] == "Furniture"])

    OrderID Product   Category  Quantity  Price Customer Region   Total
7      1008   Chair  Furniture         2  165.0   Hannah   West   330.0
8      1009    Desk  Furniture         1  330.0      Ian  North   330.0
16     1017    Desk  Furniture         2  308.0    Queen  North   616.0
19     1020   Chair  Furniture         6  198.0      Tom   West  1188.0

#Number 10

In [40]:
# Step 1: Sort by Total descending
sorted_df = df.sort_values(by="Total", ascending=False)
print(sorted_df.head(19))

    OrderID     Product     Category  Quantity  Price Customer Region   Total
14     1015      Laptop  Electronics         5  750.0    Oscar   East  3750.0
19     1020       Chair    Furniture         6  198.0      Tom   West  1188.0
20     1021      Tablet  Electronics         2  450.0   Victor   East   900.0
17     1018     Monitor  Electronics         4  220.0   Robert  South   880.0
4      1005      Laptop  Electronics         1  850.0    Ethan  North   850.0
3      1004     Monitor  Electronics         4  200.0    Diana   West   800.0
16     1017        Desk    Furniture         2  308.0    Queen  North   616.0
12     1013     Monitor  Electronics         2  250.0     Mike  North   500.0
8      1009        Desk    Furniture         1  330.0      Ian  North   330.0
7      1008       Chair    Furniture         2  165.0   Hannah   West   330.0
6      1007       Mouse  Accessories        10   30.0   George   East   300.0
5      1006  Headphones  Accessories         6   40.0    Fiona  South   240.0
10     1011     Printer  Electronics         2  120.0     Kyle   East   240.0
11     1012    Keyboard  Accessories         4   55.0    Laura   West   220.0
13     1014       Mouse  Accessories         7   30.0     Nina  South   210.0
2      1003    Keyboard  Accessories         3   50.0  Charlie   East   150.0
1      1002       Mouse  Accessories         5   30.0      Bob  South   150.0
18     1019     Printer  Electronics         1  110.0    Sarah   East   110.0
15     1016  Headphones  Accessories         3   35.0     Paul   West   105.0

In [41]:
# Step 2: Show top 5 sales
print(sorted_df.head(5))

    OrderID  Product     Category  Quantity  Price Customer Region   Total
14     1015   Laptop  Electronics         5  750.0    Oscar   East  3750.0
19     1020    Chair    Furniture         6  198.0      Tom   West  1188.0
20     1021   Tablet  Electronics         2  450.0   Victor   East   900.0
17     1018  Monitor  Electronics         4  220.0   Robert  South   880.0
4      1005   Laptop  Electronics         1  850.0    Ethan  North   850.0

In [43]:
# Step 3: Multi-level sort (Region then Customer)
multi_sort = df.sort_values(by=["Region", "Customer"])
print(multi_sort.head(19))

    OrderID     Product     Category  Quantity  Price Customer Region   Total
2      1003    Keyboard  Accessories         3   50.0  Charlie   East   150.0
6      1007       Mouse  Accessories        10   30.0   George   East   300.0
10     1011     Printer  Electronics         2  120.0     Kyle   East   240.0
14     1015      Laptop  Electronics         5  750.0    Oscar   East  3750.0
18     1019     Printer  Electronics         1  110.0    Sarah   East   110.0
20     1021      Tablet  Electronics         2  450.0   Victor   East   900.0
4      1005      Laptop  Electronics         1  850.0    Ethan  North   850.0
8      1009        Desk    Furniture         1  330.0      Ian  North   330.0
12     1013     Monitor  Electronics         2  250.0     Mike  North   500.0
16     1017        Desk    Furniture         2  308.0    Queen  North   616.0
1      1002       Mouse  Accessories         5   30.0      Bob  South   150.0
5      1006  Headphones  Accessories         6   40.0    Fiona  South   240.0
13     1014       Mouse  Accessories         7   30.0     Nina  South   210.0
17     1018     Monitor  Electronics         4  220.0   Robert  South   880.0
3      1004     Monitor  Electronics         4  200.0    Diana   West   800.0
7      1008       Chair    Furniture         2  165.0   Hannah   West   330.0
11     1012    Keyboard  Accessories         4   55.0    Laura   West   220.0
15     1016  Headphones  Accessories         3   35.0     Paul   West   105.0
19     1020       Chair    Furniture         6  198.0      Tom   West  1188.0